<router-outlet></router-outlet>
<mat-toolbar class="header">
        <mat-toolbar-row >Todo App</mat-toolbar-row>
  </mat-toolbar>
<!--  -->

<mat-grid-list cols="3"  class="gridlist">
    <mat-grid-tile>     </mat-grid-tile>
    <mat-grid-tile>    
        <mat-card class="card1">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="New Todo">
            </mat-form-field>
            <button mat-button>Add</button>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>     </mat-grid-tile>
  </mat-grid-list>
<!-- try -->

  

<a [Routerlink]="todotable"> <button>Todo Table</button></a>



<!--  -->
  
  
 

<app-todotable> </app-todotable>
