
  
.tablecard{
   margin-top: -250px;
   background-color: #3f51b5;
   
   }


  .table1{
    background: white;
    margin-top:5px;
    text-align: center;
    color:#3f51b5;
    width:100%;
  }


  

    
  
    
  
   
   
   